/* 
TODO:
- remove unused flex classes

*/


html {
    height: 100%;
}

body {
    min-height: 100%;
}

ul {
    padding: 0;
}


/****** Nav Styles ******/

nav {
    width: 100%;
}

nav ul {
    width: 100%;
    list-style-type: none;
}

nav ul li {
    width: 100%;
    margin: 2.5em auto;
}

nav ul li a {
    width: 100%;
    padding: 1em;
    background-color: aquamarine;
    border-radius: 25px;
}


/****** List styles ******/
.task-list h2 {
    text-align: center;
    margin-top: 0;
    background-color: rgb(149, 225, 200);
    border-radius: 20px 20px 0 0;
    padding: 0.5em 0;
    border-bottom: 1px solid black;
}

.task-list {
    border: 1px solid black;
    border-radius: 20px;
}

.task-list ul {
    list-style-type: none;
    padding: 0 0.5em;
}

.task-list ul li {
    border-radius: 10px;
    text-align: center;
    padding: 1em;
    border: 2px solid black;
}



/****** Grid Styles ******/

body {
    display: grid;
    grid-template-columns: [header-right] 22% [main-left] 2em [main-right] 1fr;
    grid-template-rows: [row-1] 2em [row-2] auto [row-3] 50px [row-4] 2em;
    grid-template-areas:
    ". . ."
    "header . main"
    "footer . main"
    ". . .";
}

main {
    grid-area: main;

    display: grid;
    grid-template-columns: [list1-start] 1fr [list1-end] 1em [list2-start] 1fr [list2-end] 1em [list3-start] 1fr [main-end] 2em;
    grid-template-rows: [upper-end] 1fr [lower-start] 1em [lower-end] 0.5fr; 
    grid-template-areas: 
    "list1 . list2 . list3 ."
    ". . . . . ."
    "list4 list4 list4 list4 list4 .";
}

header {
    grid-area: header;

    display: grid;
    grid-template-columns: [header-right] 100%;
    grid-template-rows: [row-1] 405px [row-2] 100px [row-3] auto [row-4] auto;
    grid-template-areas: 
    "avatar"
    "stats"
    "."
    "nav";
}

#avatar {
    grid-area: avatar;
    max-height: 400px; /* TODO: adjust later */
}

#stats {
    grid-area: stats;
}

nav {
    grid-area: nav;
}

footer {
    grid-area: footer;
}

#list-1 {
    grid-area: list1;
}

#list-2 {
    grid-area: list2;
}

#list-3 {
    grid-area: list3;
}

#list-4 {
    grid-area: list4;
}


/****** Flex Classes ******/


/* Back compatibility achieved with Autoprefixer https://autoprefixer.github.io/ */
/* for other values see https://ptb2.me/flexbox/ */

.flex-row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: space-between;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.flex-right {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: flex-end;
    justify-content: flex-end;
}

.flex-left {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: flex-start;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.flex-space {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
}

.flex-center {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.flex-center-column {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.flex-bottom {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: flex-end;
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.flex-left-column {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: flex-start;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  -webkit-align-items: flex-start;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}


.flex-top {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: flex-start;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
